@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
body {
  background-color: #ffffff;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.name {
  margin-left: calc(50% - 110px);
  transform: translateX(-50%);
  width: 300px;
  height: 75px;
  margin-top: 20px;
}
.logo {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
.nav-bar {
  background: linear-gradient(to bottom, #315f8a, #103053);
  text-align: right;
  height: 75px;
  width: 100%;
  align-items: center;
  clear: left;
}
.nav-bar ul {
  display: inline-block;
  list-style: none;
  margin-right: 150px;
}
.nav-bar ul li {
  text-align: center;
  float: left;
  width: 150px;
  margin: 10px;
  margin-right: 110px;
  padding: 15px;
  border-radius: 5px;
  color: white;
}
.nav-bar ul li a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.clubs,
.nav-bar ul li:hover {
  background: linear-gradient(to bottom, rgb(30, 117, 194), rgb(15, 67, 112));
  border-radius: 3px;
  color: rgb(255, 255, 255);
}
.nav-bar .clubs,
.nav-bar .clubs a,
.nav-bar ul li:hover a {
  color: rgb(255, 255, 255);
}
.nav-bar .fa {
  margin-right: 3px;
  font-size: 20px;
}

.container {
  display: flex;
  margin-left: 160px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(225, 225, 225, 0.5),
    -5px -5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(225, 225, 225, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card:hover .box {
  transform: translateX(30px);
  transition: 0.5s;
}

.container .card .box .content {
  margin: 10px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card .box .content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#img {
  height: 200px;
  width: 200px;
  padding-left: 50px;
  padding-top: 20px;
}
.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 1cm;
  color: rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  pointer-events: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card .box .content h3 {
  text-align: center;
  padding: 15px;
}
.container .card:hover .box .content h2 {
  color: rgba(0, 0, 0, 0.2);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card:hover .box .content h3 {
  padding: 0;
  transition: 0.25s;
  font-size: 1cm;
  color: #bd5d3f;
  z-index: 0.5;
  text-align: left;
  margin-left: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card:hover .box .content p {
  padding: 8px;
  font-size: o.75cm;
  font-weight: 300;
  color: rgb(116, 110, 110);
  z-index: 0.5;
  zoom: 1;
  font-family: sans-serif;
}
.container .card:hover .box .content a {
  display: inline-block;
  background: #bd5d3f;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 8px;
  color: #fff;
}
.head1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.head2 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.para1 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}
.para2 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}

.para3 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}
.info {
  padding-left: 950px;
}
.info2 {
  font-size: medium;
}
