@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
body {
  background-color: #f9fcea;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.name {
  margin-left: calc(50% - 110px);
  transform: translateX(-50%);
  width: 300px;
  height: 75px;
  margin-top: 20px;
}
.logo {
  margin-top: 6px;
  margin-left: 6px;
  height: 75px;
  width: 75px;
  border-radius: 25px;
  float: left;
  cursor: pointer;
  position: relative;
  right: 30px;
}
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  font-size: 9px;
  height: 100px;
}
.head {
  border-radius: 0px;
  padding-bottom: 0.5px;
  box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.75);
  background-color: #fae900;
}
.nav-area {
  list-style: none;
}
.nav-area li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  width: 150px;
}
.nav-area li a {
  text-decoration: none;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}
.project {
  font-size: 40px;
  font-family: "Play", sans-serif;
  font-weight: bolder;
  color: #ffffff;
}
i {
  margin-right: 5px;
}
.nav-area li a:hover {
  color: #ffffff;
}

.container {
  margin-left: 50px;
  padding: 40px 0;
  align-items: center;
}
.container .club {
  display: flex;
  flex-direction: row;
}
.container .card {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: -12px 12px 27px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -12px 12px 27px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 12px 27px -5px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  background-color: rgba(122, 0, 0, 0.938);
}
.container .gallery .pic {
  display: block;
  float: right;
}
.container .gallery .pic img {
  height: 200px;
  margin-right: 10px;
}
hr {
  margin-right: 150px;
  margin: 80px;
}
.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .card:hover .box {
  transform: translateX(30px);
  transition: 0.5s;
}

.container .card .box .content {
  margin: 10px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card .box .content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#img {
  height: 200px;
  width: 200px;
  padding-left: 50px;
  padding-top: 20px;
}
.container .card .box img {
  width: 250px;
  margin-bottom: 20px;
}
.container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 1cm;
  color: rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  pointer-events: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card .box .content h3 {
  text-align: center;
  padding: 15px;
}
.container .card:hover .box .content h2 {
  color: rgba(0, 0, 0, 0.2);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card:hover .box .content h3 {
  padding: 0;
  transition: 0.25s;
  font-size: 1cm;
  color: #bd5d3f;
  z-index: 0.5;
  text-align: left;
  margin-left: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container .card:hover .box .content p {
  padding: 8px;
  font-size: o.75cm;
  font-weight: 300;
  color: rgb(116, 110, 110);
  z-index: 0.5;
  zoom: 1;
  font-family: sans-serif;
}
.container .card:hover {
  box-shadow: 11px 0px 30px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 0px 30px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 30px -5px rgba(0, 0, 0, 0.75);
}
.container .card:hover .box .content a {
  display: inline-block;
  background: #bd5d3f;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 8px;
  color: #fff;
}
.head1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.head2 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.para1 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}
.para2 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}

.para3 {
  font-size: 20px;
  padding-left: 250px;
  padding-right: 250px;
}
.info {
  padding-left: 950px;
}
.info2 {
  font-size: medium;
}
.group {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(8, 5vw); */
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 7px 19px 24px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 19px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 19px 24px -8px rgba(0, 0, 0, 0.75);
}
