body{
    padding: 0;
    margin: 0;
}
#imgavtar{
    height: 200px;
    width: auto;
    padding-left: calc(50% - 300px);
    padding-top: 10px;
}



.content{
    align-items: center;
}
#heading{
    padding-left: 50px;
    margin-left: 50px;
}
.form{
    padding-left: 1200px;
    padding-top: 80px;

}
.joinus{
    
    border-radius: 10px;
    color:white;
    border: 0;
    background-color:#429E3B;
    height: 60px;
    width: 100px;
    font-size: large;
    font-weight: bold;
}
#head{
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    
}
.box2{
    padding-top: 50px;
    padding-left: 150px;
    display: flex;
}
.box3{
    width: 400px;
    height: 300px;
    padding-left: 90px;
    
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  5px 5px 7px #8d8d8d,
                 -5px -5px 7px #ffffff;
}
.line{
    
    display: flex;
    width: fit-content;
    padding-left: 100px;
    padding-top: 50px;

    
    
}
.line4{
    display: flex;
    width: fit-content;
    padding-left: 20px;
    padding-top: 100px;


}
.line5{
    display: flex;
    width: fit-content;
    padding-left: 30px;
    padding-top: 0px;

}
.line1{
    border-left: 2px solid black;
    height: 100px;
    padding-left: 10px;
    margin-bottom: 60px;
    margin-top: 0px;
     width: 500px;
     font-size: 18px;
     font-family: sans-serif;
     padding-top: 20px;
     

    
}
.main{
    display: flex;
    padding-left: 50px;
         
}
.line2{
    
 margin-left: 10px;
 
 margin-top: 20px;
 margin-bottom: 10px;
 width: 150px;
 font-size: 28px;
 font-weight: bold;
 color: rgb(209, 79, 19);
 opacity: 0.8;

 
}
#img1{
    padding-left: 20px;
    height: 350px;
    width: auto;
    float: right;
    padding-right: 150px;
}
.content p{
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.content h1{
text-align: center;
color:#429E3B ;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content h3{
    padding-left: 300px;
}
.content .form2{
    padding-left: 700px;
}
#readmore{
    display: block;
    background-color:#429E3B ; 
    border: 0;
    border-radius: 4px;
    height: 40px;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: 0.25s;
    font-size: 18px;
    
    
    
}
.content .form2 a{
    text-decoration: none;
}
#readmore:hover{
   
    width: 180px;
}

.gallery h2{
    padding-left: 600px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.gallery{
    margin-left: 100px;
    

}
#galimg{

    height: 300px;
    width: auto;
    padding-left: 70px;
    padding-top: 20px;

}

.reachus{
    align-items: center;
    width: 500px;
    padding-left: calc(50% - 200px);


}
.reachus h2{
    padding-left:  55px; 
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.reachus h3{
    padding-left: 50px;
    color: #429E3B; 
    font-size: 24px;
}

#reachus{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 0;
    
}